.blog-page {
  padding: 90px 0;
  background-color: #d8c9a6;
}

/* proširen sadržaj */
.blog-page .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

/* centriranje zadnjeg reda */
.blog-page .row {
  justify-content: center;
}

/* CARD */

.blog-post {
  position: relative;
  background: #efe3c6;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.35s ease;
  border: 1px solid rgba(90, 110, 40, 0.25);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}
.blog-post p {
  flex-grow: 1;
}

.blog-post p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-page .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col-md-4 {
  display: flex;
  justify-content: center;
}

.blog-post {
  width: 100%;
  max-width: 450px;
}

.blog-post::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(rgba(0, 0, 0, 0.025) 1px, transparent 1px);
  background-size: 6px 6px;
  border-radius: 18px;
  pointer-events: none;
}

.blog-post:hover {
  transform: translateY(-6px);
  border-color: #708238;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.15);
}

.blog-post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.5s;
}

.blog-post:hover img {
  transform: scale(1.05);
}

/* TITLE */

.blog-post h2 {
  font-size: 19px;
  margin: 14px 0 10px;
  color: #2f2b25;
  transition: 0.3s;
}

.blog-post:hover h2 {
  color: #708238;
}

/* TEXT */

.blog-post p {
  font-size: 15px;
  line-height: 1.6;
  color: #4b463d;
  flex-grow: 1;
}

/* READ MORE */

.blog-post::after {
  content: "Pročitaj više →";
  margin-top: 12px;
  font-weight: 600;
  font-size: 13px;
  color: #708238;
  transition: 0.3s;
}

.blog-post:hover::after {
  transform: translateX(6px);
}

/* razmak kartica */

.col-md-4,
.col-lg-4 {
  margin-bottom: 45px;
  display: flex;
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .blog-page .container {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .blog-page {
    padding: 60px 20px;
  }

  .blog-post img {
    height: 170px;
  }
}
