/* PAGE LAYOUT */

.kontakt-page {
  display: grid;
  grid-template-columns: 1fr 420px;
  min-height: 100vh;
}

/* lijevo */
.kontakt-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 60px 80px;
  background-color: #d8c9a6; /* STARINSKA ŽUTA */

  text-align: center;
}

/*    TEXT */

.kontakt-text {
  max-width: 530px;
  margin-bottom: 30px;
}

.kontakt-text p {
  font-size: 22px;
  line-height: 1.8;
  margin-bottom: 20px;
}

/* WORDPRESS BUTTON */

.kontakt-text a {
  display: inline-block;

  margin-top: 20px;
  margin-bottom: 40px;

  padding: 14px 26px;

  background: #5c6f2f;
  color: white;
  text-decoration: none;

  font-size: 15px;

  transition: 0.3s;
}

.kontakt-text a:hover {
  background: #495822;
}

/*FORM */

.kontakt-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
}

.kontakt-form label {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
}

.kontakt-form input,
.kontakt-form textarea {
  padding: 12px;
  margin-bottom: 15px;
  background-color: #e5ddc6;
  box-shadow: #495822 0px 2px 4px;
  border: 1px solid #bbb;
  border-radius: 4px;

  font-size: 15px;
}

.kontakt-form textarea {
  resize: vertical;
}

/* BUTTON */

.kontakt-form button {
  background: #5c6f2f;
  color: white;

  border: none;
  padding: 14px;

  font-size: 15px;

  cursor: pointer;
  transition: 0.3s;
}

.kontakt-form button:hover {
  background: #495822;
}

/* SUCCESS / ERROR */

.success-msg {
  color: green;
  margin-top: 10px;
}

.error-msg {
  color: red;
  margin-top: 10px;
}

/* HERO IMAGE */

.kontakt-hero {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d8c9a6; /* STARINSKA ŽUTA */
}

.kontakt-hero img {
  height: 90vh;
  width: auto;
  max-width: 420px;

  object-fit: contain;
}

/* RESPONSIVE*/

@media (max-width: 900px) {
  .kontakt-page {
    grid-template-columns: 1fr;
  }

  .kontakt-left {
    padding: 50px 30px;
  }

  .kontakt-hero {
    padding: 40px 0;
  }

  .kontakt-hero img {
    height: auto;
    width: 80%;
    max-width: 400px;
  }
}
